<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>server-side-rendering</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>

    <div class="main">

        <nav class="nav">
            <a href="/">Home</a>
            <a href="/read">Users</a>
            <a href=""></a>
        </nav>

        <h1>Create User:</h1>

        <form action="/create" method="post">
            <input type="text" class="input" placeholder="Enter name" name="name">
            <input type="text" class="input" placeholder="Enter email" name="email">
            <input type="text" class="input" placeholder="Enter image" name="image">
            <input type="submit" class="btn" placeholder="Name" name="button">
        </form>

    </div>

    

    <script src="/javascript/script.js"></script>
</body>
</html>